<wm-page layouttype="blank" columns="1" data-ng-controller="PagePageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-button name="button1"></wm-button>
                <wm-buttongroup name="buttongroup1">
                    <wm-button caption="left" name="button2"></wm-button>
                    <wm-button caption="center" name="button3"></wm-button>
                    <wm-button caption="right" name="button4"></wm-button>
                </wm-buttongroup>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label1"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
                <wm-composite widget="select" name="composite2">
                    <wm-label class="col-md-2" name="label2"></wm-label>
                    <wm-select name="select1"></wm-select>
                </wm-composite>
                <wm-composite widget="radio" name="composite3">
                    <wm-radio class="col-md-push-2" name="radio1"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label3"></wm-label>
                </wm-composite>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>